{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters mt-3">
            <div class="col-1">
                <h5>Действие:</h5>
            </div>
            <div class="col-2">
                <select id="action-select" class="form-select" aria-label="Default select example">
                    <option selected>Выбрать</option>
                    {% for actions_item in actions %}
                        <option value={{ actions_item.id }}>{{ actions_item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

        {% include 'action/table.html.twig' %}

{% endblock %}




